<div class="comment-top">
    <h4>Bir yorum yapın</h4>
    <div class="comment-bottom">
        <form action="/Comment/PartialAddComment/" method="post">
            <input class="form-control" type="text" name="UserName" placeholder="Adınız Soyadınız" required="">
            <input class="form-control" type="email" name="Mail" placeholder="Email" required="">
            <textarea class="form-control" name="Content" placeholder="Yorumunuz..." required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Yorum Yap</button>
        </form>
    </div>
</div>