@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>
<h3>Burası kendi oluşturduğum view sayfası.</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Mansur</td>
        <td>IT</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Kadir</td>
        <td>IT</td>
    </tr>

</table>
